@model IEnumerable<BarangKeluar>
@{ 
    Layout = "_AdminLayout";
}

<section class="section">
    <div class="card">
        <div class="card-header">
            <P>Data Barang Masuk</P>
            <a asp-action="CreateKeluar">Tambah</a>
        </div>

        <div class="card-body">
            <table class="table table-striped" id="table1">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Id_Keluar)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.KodeBarang)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.NamaBarang)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Jumlah)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.status)
                        </th>

                    </tr>

                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id_Keluar)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.KodeBarang)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NamaBarang)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Jumlah)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.status)
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>

